ul li{
	display: inline-block;
}
strong{
	font-weight: bold;
}
svg{
	.remake_to_path {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear forwards;
	}
}
/*carousel*/
#carousel{
	padding: 50px;
	overflow: hidden;

	.carousel-control{
		top: calc(50% - 25px);
		padding: 5px;
		border-radius: 100%;
		border: 1px solid #7b7b7b;
		width: 50px;
		height: 50px;
		opacity: 1;
		overflow: hidden;
	}
	.carousel-control span {
		display: block;
		position: relative;
		text-align: center;
		font-size: 50px;
		top: -25px;
		color: #454545;
	}
	.carousel-control.left,
	.carousel-control.right
	{
		background-image: initial;
		background-color: none;
	}
	.carousel-control.left{
		left: -65px;
	}
	.carousel-control.right{
		right: -65px;
	}
	.img-responsive {
		display: block;
		margin: auto;
	}
}
.skew_open{

}
.skew{
	position: relative;
	width: 100%;
	min-height: 250px;
	z-index: 1;
	&::before, &::after{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: white;
		
	}
	&::before{
		top: 0;
		left: 0;
		@include skew-y(-5deg);
	}
	&::after{
		top: 50%;
		left: 0;
		@include skew-y(5deg);
	}

}
.btn{
	padding: 1rem;
    background-color: white;
    font-size: 2rem;
    font-family: 'helveticaNeueLTStd_light';
    color: #fe8500;
}
.tarif_menu{
	position: relative;
	z-index: 10;
	&.active{
		box-shadow: 6px 8px 29px black;
	}
}
.pointer{
	cursor: pointer;
}
.super_container{
	margin: auto;
	width: calc(100% - 100px)
}
.text-uppercase{
	text-transform: uppercase;
}
.logo_name{
	color: black;
	font-family: 'helveticaNeueLTStd_light';
	text-transform: uppercase;
	white-space: nowrap;
	
	>i{
		font-family: 'helveticaNeueLTStd_bold';
		display: inline-block;
		font-weight: bold;
	}
}
.picto{
    display: inline-block;
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;

	&.traduction{
		background-image: url('img/pictos/services/traduction.png');
	}
	&.interpretariat{
		background-image: url('img/pictos/services/interpretariat.png');
	}
	&.localisation{
		background-image: url('img/pictos/services/localisation.png');
	}
}

/*secteurs*/
#secteurs_info{
	position: relative;
	display: block;
	position: relative;
	margin-top: 50px;
	background-size: cover;
	@include linear-gradient(60deg, #febe07, #fa952b);

	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 10%;
		background-color: white;
	}
	.skew{
		position: absolute;
		top: 50%;
		height: 35.9%;
	}
	#infographie{
		position: relative;
		z-index: 2;
		padding-top: 50px;
	}
	#secteurs{
		li{
			padding: 15px;
			text-align: center;
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: -10px 1px 18px rgba(0, 0, 0, 0.44);

			&:first-child{
				background-image: url('img/home/secteurs/medical.jpg');
			}
			&:nth-child(2){
				padding: 0;
				padding-left: 15px;
				box-shadow: none;
				ul li{
					&:nth-child(1){
						background-image: url('img/home/secteurs/juridique.jpg');
						background-repeat: no-repeat;
						margin: 0 15px 15px 0;
					}
						
					&:nth-child(2){
						background-image: url('img/home/secteurs/autres.jpg');
						width: calc(50% - 7.5px);
						margin-right: 7.5px;
						padding: 15px;
						box-shadow: -10px 1px 18px rgba(0, 0, 0, 0.44);
					}
					&:nth-child(3){
						background-image: url('img/home/secteurs/particuliers.jpg');
						width: calc(50% - 7.5px);
						margin-left: 7.5px;
					}
				}
			}
			div,a{
				display: block;
				border: 2px solid white;
				cursor: pointer;
				&:hover{
					text-decoration: initial;
				}
				img{
					margin: auto;
				}
				/*.picto{
					width: 290px;
					height: 290px;
					
					&.medical{
						background-image: url('img/pictos/secteurs/medical.png');
					}
					&.juridique{
						background-image: url('img/pictos/secteurs/juridique.png');
					}
					&.autres{
						background-image: url('img/pictos/secteurs/autres.png');
					}
					&.particuliers{
						background-image: url('img/pictos/secteurs/particuliers.png');
					}

				}*/
				h2{
					font-family: 'JosefinSlab_italic';
					font-size: 3rem;
					font-weight: bold;
					color: white;
				}
			}
		}
	}
}

/*slick*/
.slider-nav{
	overflow: hidden;
	.slick-arrow{
		color: transparent;
	    width: 50px;
	    height: 50px;
	    border: 1px solid black;
	    overflow: hidden;
	    background-color: transparent;
	    visibility: visible;
	    border-radius: 100%;
		
		&.slick-next{
			right: 20px;

			&::before {
				left: initial;
				-ms-transform: rotate(130deg);
				-webkit-transform: rotate(130deg);
				transform: rotate(130deg);
			}
		}
	    &::before{
		    content: '';
		    position: absolute;
		    width: 15px;
		    height: 15px;
		    left: 20px;
		    border: 3px solid black;
		    border-color: black transparent transparent black;
		    -ms-transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg)
	    }
	}
}